- if component.exportable?
  - if component.exporters.length == 1
    - exporter = component.exporters.first

    = link_to component.path(namespace: :exports, exporter: exporter.name, q: params[:q].try(:permit!)), class: 'btn btn-default btn-shadow', data: { "turbo-method": :post, "turbo-frame": "para_admin_modal" } do
      %i.fa.fa-download.fa-fw
      = exporter.model_name.human

  - else
    .btn-group.dropdown
      %button.btn.btn-default.btn-shadow{ type: 'button', data: { toggle: 'dropdown' } }
        %i.fa.fa-download.fa-fw
        = t('para.export.name')
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        - component.exporters.each do |exporter|
          %li
            = link_to component.path(namespace: :exports, exporter: exporter.name, q: params[:q].try(:permit!)), data: { "turbo-method": :post, "turbo-frame": "para_admin_modal" } do
              = exporter.model_name.human
